html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: contents;
}

body {
  color: white;
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  place-content: center;
  align-items: stretch;
}

canvas {
  width: 100%;
  height: 100%;
  align-items: center;

}