* {
  box-sizing: border-box;
}

html {
  display: contents;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  height: 100%;
  color: rgba(100, 100, 100, 1);
  background-color:rgba(238, 238, 238, 1);
}

.sidebar{
  height: 100%;
  width: 256px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar > *, main >* {
  flex-grow:1;
  border: 1px solid black;
  border-bottom: none;
}
main >* {
  border-left:none;
}

.components, .update-components {
  padding:16px;
  display: flex;
  flex-direction: column;
}

#component-list .archived{
  color: red;
  display:none;
}

#component-list.show-archive .archived{
  display:block;

}

#component-list.show-archive {
  border: 1px dashed orange;
}


.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 100%;
}
.form input{
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#inputs:empty::before{
  content: "Drag components here";
  text-align: center;
}
#inputs {
  max-height: 50%;
  overflow: scroll;
}

#inputs,
#inputs div {
  display: inline-flex;
  flex-direction: column;
  padding: 8px;
  padding-left: 16px;
  justify-content: space-between;
}
#inputs div{
  border-radius:5px;
  margin: 8px;
  box-shadow: 
    rgba(238, 238, 238, 1) 4px 4px 8px,
    rgba(170, 170, 170, 1) 4px 4px 8px;
}

#inputs div:empty {
  display: inline;
}

#inputs div::before {
  content: "<" attr(data-content-before-tag) ">" attr(data-content-before);
}
#inputs div::after{
  content: attr(data-content-after) "</" attr(data-tag) " >"; 
}

#component-list li{
  list-style-type: none;
  padding: 8px;
  border-radius:5px;
  margin: 8px;
  box-shadow: 
    rgba(238, 238, 238, 1) 4px 4px 8px,
    rgba(170, 170, 170, 1) 4px 4px 8px;
}

.hidden{
  display: none;
}

#styles *{
  display:block;
}
#styles span:nth-child(odd){
  padding-left: 4px;
  width: 100%;
}
#styles span:nth-child(odd)::after{
  content: "\20\20\20\20{";
  text-align:right;
  width: 100%;
}

#styles span:nth-child(even){
  padding-left: 8px;
  width: 100%;
}
#styles span:nth-child(even)::after{
  content: "      }";
  display: block;
}


#styles *.matched{
  background-color:darkslategrey;
  color:white;
}

#exports {
  flex-grow:0;
}

